*{
    margin: 10px;
    padding: 0;
    font-family: sans-serif;
}
H1{
    text-align: center;
    color: rgb(206, 129, 193);
    flex-wrap: wrap;
    
}
BODY{
    
    background-color: rgb(216, 241, 255);
    font-family: sans-serif;
    align-content: center;
}
.searchbaritem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbaritem input{
    width: 40%;
    height: 100%;
    padding: 10px;
    text-align: left;
    border: 2px solid rgb(206, 129, 193);  
    border-radius: 20px;  
    font-size:15px;
   
}
.gallery{

    margin: 20px auto 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.gallery img{
    margin: 10px;
    width:200px;
    height: 50vh;
    object-fit: cover;
    border: 2px solid rgb(206, 129, 193);
    border-radius: 15px;
}
.gallery img:hover{
    transform: scale(1.05);
}
.gallery h6{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 18px;
   
}